on_settle:
  - name: "Settled Amount"
    key: "settled_amount"
    type: "select"
    # extractionPath: "`businessPayload[]{key:message.collector_app_id,value:message.collector_app_id}`"
    extractionPath: "`businessPayload[].message.settlement.orders[]{key:inter_participant_amount,value:inter_participant_amount}`"
    # []{key: formUrl, value: formUrl}"
    errorText: "Settled Amount id is required"
    required: false
    summary: This attribute is settled amount.
    
  - name: "status"
    key: "status"
    type: "select"
    defaultValue: "SETTLED"

    defaultOptions:
      - key: "SETTLED"
        value: "SETTLED"
      - key: "NOT_SETTLED"
        value: "NOT_SETTLED"

    errorText: "Please select a field"
    required: false
    summary: This attribute refers to status of the settlement.

  - name: "reference_no"
    key: "reference_no"
    type: "text"
    errorText: "reference_no is required"
    defaultValue: "1238683618634"
    required: true
    summary: This attribute is reference_no.
  - name: "error_code"
    key: "error_code"
    type: "select"
    defaultOptions:
      - key: ""
        value: ""
      - key: "70000"
        value: "70000"
      - key: "70001"
        value: "70001"
      - key: "70002"
        value: "70002"
      - key: "70003"
        value: "70003"
      - key: "70004"
        value: "70004"
      - key: "70005"
        value: "70005"
      - key: "70006"
        value: "70006"
      - key: "70007"
        value: "70007"
      - key: "70008"
        value: "70008"
      - key: "70009"
        value: "70009"
      - key: "70010"
        value: "70010"
      - key: "70011"
        value: "70011"
      - key: "70012"
        value: "70012"
      - key: "70013"
        value: "70013"
      - key: "70014"
        value: "70014"
      - key: "70015"
        value: "70015"
      - key: "70016"
        value: "70016"
      - key: "70017"
        value: "70017"
      - key: "70018"
        value: "70018"
      - key: "70019"
        value: "70019"
      - key: "70020"
        value: "70020"
      - key: "70021"
        value: "70021"
      - key: "70022"
        value: "70022"
      - key: "70023"
        value: "70023"
      - key: "70024"
        value: "70024"
      - key: "70025"
        value: "70025"
      - key: "70026"
        value: "70026"
      - key: "70027"
        value: "70027"
      - key: "503"
        value: "503"
    required: false
    summary: This attribute is reference_no.
  - name: "error message"
    key: "error_message"
    type: "select"
    required: false
    summary: This attribute is reference_no.

  # - name: "error_code"
  #   key: "provider_error_code"
  #   type: "text"
  #   errorText: "provider_error_code is required"
  #   defaultValue: ""
  #   required: false
  #   summary: This attribute is reference_no.
  # - name: "error message"
  #   key: "provider_error_message"
  #   type: "text"
  #   errorText: "reference_no is required"
  #   defaultValue: ""
  #   required: false
  #   summary: This attribute is reference_no.

on_settle_provider:
  - name: "Settled Amount"
    key: "settled_amount"
    type: "select"
    errorText: "Settled Amount is required"
    # defaultValue: "100" 0
    extractionPath: "`businessPayload[].message.settlement.orders[]{key:inter_participant_amount,value:inter_participant_amount}`"
    summary: This attribute is settled amount.
  - name: "status"
    key: "status"
    type: "select"
    defaultOptions:
      - key: "SETTLED"
        value: "SETTLED"
      - key: "NOT_SETTLED"
        value: "NOT_SETTLED"
    errorText: "Please select a field"
    required: false
    summary: This attribute refers to status of the settlement.
  - name: "reference_no"
    key: "reference_no"
    type: "text"
    errorText: "reference_no is required"
    defaultValue: "1238683618634"
    required: yes
    summary: This attribute is reference_no.
  - name: "provider_status"
    key: "provider_status"
    type: "select"
    defaultValue: "SETTLED"
    defaultOptions:
      - key: "SETTLED"
        value: "SETTLED"
      - key: "NOT_SETTLED"
        value: "NOT_SETTLED"
    errorText: "Please select a field"
    required: false
    summary: This attribute refers to provider_status of the settlement.
  - name: "provider_reference_no"
    key: "provider_reference_no"
    type: "text"
    errorText: "provider_reference_no is required"
    defaultValue: "1238683618634"
    required: yes
    summary: This attribute is provider_reference_no.
  - name: "error_code"
    key: "error_code"
    type: "select"
    errorText: "error_code is required"
    defaultValue: ""
    defaultOptions:
      - key: ""
        value: ""
      - key: "70000"
        value: "70000"
      - key: "70001"
        value: "70001"
      - key: "70002"
        value: "70002"
      - key: "70003"
        value: "70003"
      - key: "70004"
        value: "70004"
      - key: "70005"
        value: "70005"
      - key: "70006"
        value: "70006"
      - key: "70007"
        value: "70007"
      - key: "70008"
        value: "70008"
      - key: "70009"
        value: "70009"
      - key: "70010"
        value: "70010"
      - key: "70011"
        value: "70011"
      - key: "70012"
        value: "70012"
      - key: "70013"
        value: "70013"
      - key: "70014"
        value: "70014"
      - key: "70015"
        value: "70015"
      - key: "70016"
        value: "70016"
      - key: "70017"
        value: "70017"
      - key: "70018"
        value: "70018"
      - key: "70019"
        value: "70019"
      - key: "70020"
        value: "70020"
      - key: "70021"
        value: "70021"
      - key: "70022"
        value: "70022"
      - key: "70023"
        value: "70023"
      - key: "70024"
        value: "70024"
      - key: "70025"
        value: "70025"
      - key: "70026"
        value: "70026"
      - key: "70027"
        value: "70027"
      - key: "503"
        value: "503"
    summary: This attribute is reference_no.
  - name: "error message"
    key: "error_message"
    type: "text"
    defaultValue: ""
    summary: This attribute is reference_no.

on_settle_nil:

on_settle_selector:
  - name: "settle selector"
    key: "settle_condition"
    type: "select"
    defaultValue: "on_settle"
    defaultOptions:
      - key: "on_settle"
        value: "on_settle"
      - key: "on_settle_provider"
        value: "on_settle_provider"
      - key: "NIL"
        value: "NIL"
    errorText: "Please select a field"
    required: false
    summary: This attribute refers to whether kyc is accepted or not.

on_report:
  - name: "Settled Amount"
    key: "settled_amount"
    type: "text"
    errorText: "Settled amount is required"
    # extractionPath: "`data.session.order_data[]{key:inter_participant_amount,value:inter_participant_amount}`"
    defaultValue: ""
    required: yes
    summary: This attribute is settled amount.
  - name: "status"
    key: "status"
    type: "select"
    defaultValue: "SETTLED"
    defaultOptions:
      - key: "SETTLED"
        value: "SETTLED"
      - key: "NOT_SETTLED"
        value: "NOT_SETTLED"
    errorText: "Please select a field"
    required: false
    summary: This attribute refers to status of the settlement.
  - name: "reference_no"
    key: "reference_no"
    type: "text"
    errorText: "reference_no is required"
    defaultValue: "1238683618634"
    required: true
    summary: This attribute is reference_no.
  - name: "provider_status"
    key: "provider_status"
    type: "select"
    defaultValue: "SETTLED"
    defaultOptions:
      - key: "SETTLED"
        value: "SETTLED"
      - key: "NOT_SETTLED"
        value: "NOT_SETTLED"
    errorText: "Please select a field"
    required: false
    summary: This attribute refers to provider_status of the settlement.
  - name: "provider_reference_no"
    key: "provider_reference_no"
    type: "text"
    errorText: "provider_reference_no is required"
    defaultValue: "1238683618634"
    required: false
    summary: This attribute is provider_reference_no.
  - name: "error_code"
    key: "error_code"
    type: "select"
    defaultValue: ""
    defaultOptions:
      - key: ""
        value: ""
      - key: "70000"
        value: "70000"
      - key: "70001"
        value: "70001"
      - key: "70002"
        value: "70002"
      - key: "70003"
        value: "70003"
      - key: "70004"
        value: "70004"
      - key: "70005"
        value: "70005"
      - key: "70006"
        value: "70006"
      - key: "70007"
        value: "70007"
      - key: "70008"
        value: "70008"
      - key: "70009"
        value: "70009"
      - key: "70010"
        value: "70010"
      - key: "70011"
        value: "70011"
      - key: "70012"
        value: "70012"
      - key: "70013"
        value: "70013"
      - key: "70014"
        value: "70014"
      - key: "70015"
        value: "70015"
      - key: "70016"
        value: "70016"
      - key: "70017"
        value: "70017"
      - key: "70018"
        value: "70018"
      - key: "70019"
        value: "70019"
      - key: "70020"
        value: "70020"
      - key: "70021"
        value: "70021"
      - key: "70022"
        value: "70022"
      - key: "70023"
        value: "70023"
      - key: "70024"
        value: "70024"
      - key: "70025"
        value: "70025"
      - key: "70026"
        value: "70026"
      - key: "70027"
        value: "70027"
      - key: "503"
        value: "503"

    required: false
    summary: This attribute is reference_no.
  - name: "error message"
    key: "error_message"
    type: "text"
    defaultValue: ""
    required: false
    summary: This attribute is reference_no.

on_recon:
  - name: "recon_accord"
    key: "recon_accord"
    type: "select"
    defaultValue: "true"
    defaultOptions:
      - key: "true"
        value: "true"
      - key: "false"
        value: "false"
    errorText: "Please select a field"
    required: false
    summary: This attribute refers to recon accord of the settlement.
  
  - name: "diff_value_amount"
    key: "diff_value_amount"
    type: "text"
    errorText: "diff_value_amount is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is diff_value_amount.

  - name: "diff_value_commision"
    key: "diff_value_commision"
    type: "text"
    errorText: "diff_value_commision is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is diff_value_commision.

  - name: "diff_value_withholding_amount"
    key: "diff_value_withholding_amount"
    type: "text"
    errorText: "diff_value_withholding_amount is required"
    defaultValue: "100"
    required: true
    summary: This attribute is diff_value_withholding_amount.

  - name: "diff_value_tcs"
    key: "diff_value_tcs"
    type: "text"
    errorText: "diff_value_tcs is required"
    defaultValue: "100"
    required: true
    summary: This attribute is diff_value_tcs.

  - name: "diff_value_tds"
    key: "diff_value_tds"
    type: "text"
    errorText: "diff_value_tds is required"
    defaultValue: "100"
    required: true
    summary: This attribute is diff_value_tds.

settle:


recon_selector:
  - name: "settle selector"
    key: "settle_condition_recon"
    type: "select"
    defaultValue: "on_recon"
    defaultOptions:
      - key: "Send recon -  (np will send recon)"
        value: "recon"
      - key: "Receive recon - (np will receive recon)"
        value: "recon_send"
    errorText: "Please select a field"
    required: false
    summary: This attribute refers to whether kyc is accepted or not.


recon_send:
  - name: "payment id"
    key: "payment_id"
    type: "text"
    errorText: "payment_id is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is payment_id.

  - name: "settlement_amount"
    key: "settlement_amount"
    type: "text"
    errorText: "settlement_amount is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is settlement_amount.

  - name: "withholding_amount"
    key: "withholding_amount"
    type: "text"
    errorText: "withholding_amount is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is withholding_amount.

  - name: "tcs_amount"
    key: "tcs_amount"
    type: "text"
    errorText: "tcs_amount is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is tcs_amount.

  - name: "tds_amount"
    key: "tds_amount"
    type: "text"
    errorText: "tds_amount is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is tds_amount.

  - name: "settlement_ref_no"
    key: "settlement_ref_no"
    type: "text"
    errorText: "settlement_ref_no is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is settlement_ref_no.

  - name: "settlement_commission"
    key: "settlement_commission"
    type: "text"
    errorText: "settlement_commission is required"
    defaultValue: "100" 
    required: true
    summary: This attribute is settlement_commission.



