default:
  callback: "on_search"
  uri:
    $ref: ""
  delay: 300
  payload:
    $ref: "./default/template/error.yaml"

getfare_select:
  condition:
    operation:
      type: AND
      input:
        value:
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.message.order.items.0.id"
                  - ITEM_ID_1_METRO
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.domain"
                  - "ONDC:TRV11"
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.location.city.code"
                  - std:011
        # - operation:
        #     type: EQUAL
        #     title: Check search message code
        #     input:
        #       value:
        #         - operation:
        #             type: READ
        #             input:
        #               value: "req_body.context.action"
        #         - select
        # - operation:
        #       type: EQUAL
        #       title: Check search message code
        #       input:
        #         value:
        #           - operation:
        #               type: READ
        #               input:
        #                 value: "req_body.context.version"
        #           - 2.0.0
  callback: "on_select"
  uri:
    $ref: ""
  delay: 300
  payload:
    $ref: "./metro/template/on_select.yaml"

intracity_getfare_select:
  condition:
    operation:
      type: AND
      input:
        value:
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.message.order.items.0.id"
                  - ITEM_ID_1_INTERCITY_BUS
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.domain"
                  - "ONDC:TRV11"
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.location.city.code"
                  - std:011
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.action"
                  - select
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.version"
                  - 2.0.0
  callback: "on_select"
  uri:
    $ref: ""
  delay: 300
  payload:
    $ref: "./intracity/template/on_select.yaml"

intracity_getfare_init:
  condition:
    operation:
      type: AND
      input:
        value:
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.message.order.items.0.id"
                  - ITEM_ID_1_INTERCITY_BUS
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.domain"
                  - "ONDC:TRV11"
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.location.city.code"
                  - std:011
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.version"
                  - 2.0.0
          - operation:
              type: EQUAL
              title: Check search message code
              input:
                value:
                  - operation:
                      type: READ
                      input:
                        value: "req_body.context.action"
                  - init
  callback: "on_init"
  uri:
    $ref: ""
  delay: 300
  payload:
    $ref: "./intracity/template/on_init.yaml"
